/* #region ROOT */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

/* #endregion */
/* !==================== */
/* #region RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

textarea {
  resize: none;
}

/* #endregion */
/* !==================== */
/* #region COMMON STYLES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.heading-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.heading-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* #region header*/
.page-header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo .studio {
  color: #2e2f42;
}
.pade-header .container {
  display: flex;
  display: none;
  justify-content: space-between;

  align-items: center;
}
.nav-link .address-list {
  display: none;
}
/* #endregion*/
/* #region hero*/
.hero {
  display: none;
}

/* #endregion*/
/* #region advsntages*/
.advantages {
  padding: 96px 16px;
}
@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 156px;
  }
}

.rwap {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.advantages-icon-wrapper {
  display: none;
}
.item-wrap .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.item-wrap .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .rwap {
    column-gap: 24px;
    row-gap: 72px;
  }
  .item-wrap {
    width: calc((100% - 24px) / 2);
  }
  .item-wrap .title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .rwap {
    gap: 24px;
  }
  .item-wrap {
    width: calc((100% - 72px) / 4);
  }
  .advantages-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .item-wrap .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .item-wrap .text {
    font-weight: 400;
  }
}
/* #endregion*/
/* #region team*/
.our-team {
  background-color: #f4f4fd;
}
.our-team .container {
  padding: 96px 28px;
}
.title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.flex-team {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-box {
  padding: 32px 0;
}
.team-box .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-box .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .flex-team {
    column-gap: 24px;
  }
}
/* #endregion*/
/* #region portfolio*/
.flex-portfolio {
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-item {
  max-width: 288px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:hover .portfolio-overlay-content {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-overlay {
  overflow: hidden;
  position: relative;
}
.portfolio-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-cont {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-item-cont .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-cont .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .flex-portfolio {
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    max-width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .flex-portfolio {
    row-gap: 48px;
  }
  .portfolio-item {
    max-width: 360px;
    box-shadow: none;
  }
}

/* #endregion*/
/* #region footer*/
.page-footer {
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-logo-container .studio {
  color: #f4f4fd;
}
.footer-container .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;

  align-items: center;
  gap: 16px;
  margin: 0 auto;
}

/* #endregion*/
/* #region modal*/
/* #endregion*/
