* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #region header */
.pade-header .container {
  display: flex;
  align-items: center;
  width: 1158px;
  justify-content: space-between;
}
.pade-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;

  margin-right: 76px;
}
.logo .studio {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  align-items: center;
}

.curent-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
}

.nav-link {
  display: flex;
  gap: 40px;
  margin-right: 332px;
  align-items: center;
}

.nav-link .link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link .link:hover,
.nav-link .link:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address-list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}
.link.curent-page {
  color: #404bbf;
}
/* #endregion */
/* #region hero*/
.hero {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.hero .title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.butt {
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.butt:hover,
.butt:focus {
  background-color: #404bbf;
}

/* #endregion */
/* #region features */
.rwap {
  display: flex;
  gap: 24px;
}
.item-wrap {
  width: calc((100% - 72px) / 4);
}

.advantages-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  min-width: 1128px;
}
.advantages .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region our-team */
.our-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
  padding: 120px 0;
  display: flex;
}
.team-box {
  padding: 32px 0px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-icons {
  fill: #f4f4fd;
}
.our-team .box {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.flex-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.flex-team .box {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}
.our-team .title-main {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
/* #endregion */
/* #region portfolio */
.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-cont {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.our-portfolio .title-main {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}
.our-portfolio .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-overlay {
  position: relative;

  overflow: hidden;
}
.portfolio-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 142px;
  background: #4d5ae5;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
}
.portfolio-item:hover .portfolio-overlay-content {
  transform: translateY(0);
}
/* #endregion */
/* #region footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.page-footer .container {
  display: flex;
  align-items: baseline;
}
.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-container .logo {
  width: 100%;
  height: 100%;
}
.footer-logo-container {
  margin-right: 120px;
}

.page-footer .studio {
  color: #f4f4fd;
}
.page-footer .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social {
  display: flex;
  width: 208px;
  flex-direction: column;
  align-items: baseline;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.social-icons {
  fill: #f4f4fd;
}
.footer-social .text {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
}
/* ========================================= */
.footer-sub-container {
  width: 453px;
  height: 80px;
  position: relative;
  margin-left: 80px;
}
.footer-sub-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-review-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-input-for-email {
  outline: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  padding-left: 16px;
}
.footer-input-for-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-sub-button {
  display: inline-flex;
  min-width: 165px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.button-sub-icon {
  margin-left: 16px;
}

/*====================================  */
/* #endregion */
/* #region modal */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
}
.backdrop.is-visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-x-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background: #404bbf;
  fill: #fff;
  border: none;
}

.modal-title {
  max-width: 360px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.review-form-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.review-form-input:focus {
  border-color: #4d5ae5;
}
.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}
.review-form-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-wrapper-comment {
  margin-bottom: 16px;
}
.review-form-comment:focus {
  border-color: #4d5ae5;
}
.review-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-custom-checkbox {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  margin-right: 8px;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-icon {
  opacity: 0;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.review-form-privacy-checkbox:checked
  + .review-form-policy-label
  .review-form-custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-privacy-checkbox:checked
  + .review-form-policy-label
  .review-form-checkbox-icon {
  opacity: 1;
}

.review-form-policy-label {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-privacy-link {
  display: inline;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-submit-btn {
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  display: block;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background: #404bbf;
}
/* #endregion */
